Souce : https://www.youtube.com/watch?v=xzHhZh7F25I&t=371s

In [ ]:
!pip install openai -q
!pip install matplotlib
!pip install plotly
!pip install scipy
!pip install pandas
!pip install numpy
!pip install scikit-learn

In [12]:
import openai
import pandas as pd
import numpy as np
from getpass import getpass
import matplotlib
import os

openai.api_key = os.environ["OPENAI_API_KEY"]

In [ ]:
df = pd.read_csv('words.csv')
print(df)

In [14]:
from openai.embeddings_utils import get_embedding

df['embedding'] = df['text'].apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))
df.to_csv('word_embeddings.csv')

In [ ]:
get_embedding("the fox crossed the road", engine='text-embedding-ada-002')

In [ ]:
df = pd.read_csv('word_embeddings.csv')
df['embedding'] = df['embedding'].apply(eval).apply(np.array)
df

In [25]:
search_term = input('Enter a search term: ')

In [ ]:
# semantic search
search_term_vector = get_embedding(search_term, engine="text-embedding-ada-002")
search_term_vector

In [27]:
from openai.embeddings_utils import cosine_similarity

df["similarities"] = df['embedding'].apply(lambda x: cosine_similarity(x, search_term_vector))

df

,Unnamed: 0,text,embedding,similarities
0,0,red,"[1.8579006791696884e-05, -0.024676261469721794...",0.808966
1,1,potatoes,"[0.005025846417993307, -0.031079445034265518, ...",0.827480
2,2,soda,"[0.02582913264632225, -0.007537944242358208, -...",0.828346
3,3,cheese,"[-0.0032554215285927057, -0.008896322920918465...",0.839099
4,4,water,"[0.019031280651688576, -0.01257743313908577, 0...",0.796891
5,5,blue,"[0.005379225127398968, -0.007354139816015959, ...",0.787710
6,6,crispy,"[-0.0010056837927550077, -0.005415474995970726...",0.823643
7,7,hamburger,"[-0.013206875883042812, -0.0018223668448626995...",0.913614
8,8,coffee,"[-0.0007566261338070035, -0.0194522924721241, ...",0.802847
9,9,green,"[0.01538460049778223, -0.010931522585451603, 0...",0.786308
10,10,milk,"[0.0009292512550018728, -0.019319288432598114,...",0.815801
11,11,la croix,"[-0.012410983443260193, -0.01145013328641653, ...",0.768867
12,12,yellow,"[0.007648157421499491, -0.024834953248500824, ...",0.802653
13,13,chocolate,"[0.0015591585543006659, -0.013005273416638374,...",0.830714
14,14,french fries,"[0.0014257068978622556, -0.016548126935958862,...",0.853867
15,15,latte,"[-0.015675576403737068, -0.003918894100934267,...",0.797174
16,16,cake,"[-0.013669422827661037, -0.016827937215566635,...",0.829604
17,17,brown,"[-0.0033683686051517725, -0.015937969088554382...",0.787217
18,18,cheeseburger,"[-0.01824556663632393, 0.00504859397187829, 0....",0.886417
19,19,espresso,"[-0.022529492154717445, -0.012672839686274529,...",0.813151
20,20,cheesecake,"[0.011245746165513992, -0.012743037194013596, ...",0.821882
21,21,black,"[-0.015190942212939262, -0.031228860840201378,...",0.776495
22,22,mocha,"[-0.012487593106925488, -0.026140518486499786,...",0.813406
23,23,fizzy,"[-0.013046763837337494, -0.010264534503221512,...",0.806922
24,24,carbon,"[0.004404176026582718, -0.025098854675889015, ...",0.780440
25,25,banana,"[-0.013975119218230247, -0.03290277719497681, ...",0.821447

In [28]:
df.sort_values("similarities", ascending=False).head(20)

,Unnamed: 0,text,embedding,similarities
7,7,hamburger,"[-0.013206875883042812, -0.0018223668448626995...",0.913614
18,18,cheeseburger,"[-0.01824556663632393, 0.00504859397187829, 0....",0.886417
14,14,french fries,"[0.0014257068978622556, -0.016548126935958862,...",0.853867
3,3,cheese,"[-0.0032554215285927057, -0.008896322920918465...",0.839099
13,13,chocolate,"[0.0015591585543006659, -0.013005273416638374,...",0.830714
16,16,cake,"[-0.013669422827661037, -0.016827937215566635,...",0.829604
2,2,soda,"[0.02582913264632225, -0.007537944242358208, -...",0.828346
1,1,potatoes,"[0.005025846417993307, -0.031079445034265518, ...",0.827480
6,6,crispy,"[-0.0010056837927550077, -0.005415474995970726...",0.823643
20,20,cheesecake,"[0.011245746165513992, -0.012743037194013596, ...",0.821882
25,25,banana,"[-0.013975119218230247, -0.03290277719497681, ...",0.821447
10,10,milk,"[0.0009292512550018728, -0.019319288432598114,...",0.815801
22,22,mocha,"[-0.012487593106925488, -0.026140518486499786,...",0.813406
19,19,espresso,"[-0.022529492154717445, -0.012672839686274529,...",0.813151
0,0,red,"[1.8579006791696884e-05, -0.024676261469721794...",0.808966
23,23,fizzy,"[-0.013046763837337494, -0.010264534503221512,...",0.806922
8,8,coffee,"[-0.0007566261338070035, -0.0194522924721241, ...",0.802847
12,12,yellow,"[0.007648157421499491, -0.024834953248500824, ...",0.802653
15,15,latte,"[-0.015675576403737068, -0.003918894100934267,...",0.797174
4,4,water,"[0.019031280651688576, -0.01257743313908577, 0...",0.796891

In [29]:
food_df = df.copy()

milk_vector = food_df['embedding'][10]
espresso_vector = food_df['embedding'][19]

milk_espresso_vector = milk_vector + espresso_vector
milk_espresso_vector

array([-0.02160024, -0.03199213, -0.01623621, ..., -0.00423047,
        0.00083153, -0.02900861])

In [30]:
food_df["similarities"] = food_df['embedding'].apply(lambda x: cosine_similarity(x, milk_espresso_vector))
food_df.sort_values("similarities", ascending=False)

,Unnamed: 0,text,embedding,similarities
19,19,espresso,"[-0.022529492154717445, -0.012672839686274529,...",0.960471
10,10,milk,"[0.0009292512550018728, -0.019319288432598114,...",0.960471
15,15,latte,"[-0.015675576403737068, -0.003918894100934267,...",0.922988
22,22,mocha,"[-0.012487593106925488, -0.026140518486499786,...",0.899328
8,8,coffee,"[-0.0007566261338070035, -0.0194522924721241, ...",0.895389
3,3,cheese,"[-0.0032554215285927057, -0.008896322920918465...",0.884663
13,13,chocolate,"[0.0015591585543006659, -0.013005273416638374,...",0.883418
2,2,soda,"[0.02582913264632225, -0.007537944242358208, -...",0.874203
4,4,water,"[0.019031280651688576, -0.01257743313908577, 0...",0.866025
7,7,hamburger,"[-0.013206875883042812, -0.0018223668448626995...",0.852707
23,23,fizzy,"[-0.013046763837337494, -0.010264534503221512,...",0.851090
1,1,potatoes,"[0.005025846417993307, -0.031079445034265518, ...",0.850823
25,25,banana,"[-0.013975119218230247, -0.03290277719497681, ...",0.848958
20,20,cheesecake,"[0.011245746165513992, -0.012743037194013596, ...",0.846989
18,18,cheeseburger,"[-0.01824556663632393, 0.00504859397187829, 0....",0.846296
14,14,french fries,"[0.0014257068978622556, -0.016548126935958862,...",0.842877
16,16,cake,"[-0.013669422827661037, -0.016827937215566635,...",0.842138
12,12,yellow,"[0.007648157421499491, -0.024834953248500824, ...",0.837775
0,0,red,"[1.8579006791696884e-05, -0.024676261469721794...",0.836119
6,6,crispy,"[-0.0010056837927550077, -0.005415474995970726...",0.835187
17,17,brown,"[-0.0033683686051517725, -0.015937969088554382...",0.829839
9,9,green,"[0.01538460049778223, -0.010931522585451603, 0...",0.828841
21,21,black,"[-0.015190942212939262, -0.031228860840201378,...",0.824785
5,5,blue,"[0.005379225127398968, -0.007354139816015959, ...",0.822992
24,24,carbon,"[0.004404176026582718, -0.025098854675889015, ...",0.816680
11,11,la croix,"[-0.012410983443260193, -0.01145013328641653, ...",0.802982

In [31]:
earnings_df = pd.read_csv('microsoft-earnings.csv')
earnings_df

                                                 text
0   Thank you, Brett. To start, I want to outline ...
1   With that context, this quarter, the Microsoft...
2   It helps them align their spend with demand an...
3   We are the platform of choice for customers' S...
4   Now to data and AI. With our Microsoft Intelli...
..                                                ...
57  Other income and expense should be roughly $10...
58  And finally, as a reminder, for Q2 cash flow, ...
59  And FX should decrease COGS and operating expe...
60  With the high margins in our Windows OEM busin...
61  And while we continue to help our customers do...

[62 rows x 1 columns]

In [32]:
earnings_df['embedding'] = earnings_df['text'].apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))
earnings_df.to_csv('earnings-embeddings.csv')

In [33]:
earnings_search = input("Search earnings for a sentence:")

In [ ]:
earnings_search_vector = get_embedding(earnings_search, engine="text-embedding-ada-002")
earnings_search_vector

In [35]:
earnings_df["similarities"] = earnings_df['embedding'].apply(lambda x: cosine_similarity(x, earnings_search_vector))

earnings_df

,text,embedding,similarities
0,"Thank you, Brett. To start, I want to outline ...","[-0.009504559449851513, -0.003731543431058526,...",0.737052
1,"With that context, this quarter, the Microsoft...","[-0.0016425022622570395, -0.028921114280819893...",0.792230
2,It helps them align their spend with demand an...,"[0.008895465172827244, -0.031935952603816986, ...",0.789605
3,We are the platform of choice for customers' S...,"[0.012019618414342403, -0.024120725691318512, ...",0.790901
4,Now to data and AI. With our Microsoft Intelli...,"[-0.004754434805363417, 0.0038801338523626328,...",0.815737
...,...,...,...
57,Other income and expense should be roughly $10...,"[-0.01832527294754982, -0.014160438440740108, ...",0.685018
58,"And finally, as a reminder, for Q2 cash flow, ...","[-0.012947804294526577, -0.010494815185666084,...",0.710533
59,And FX should decrease COGS and operating expe...,"[0.0009612650028429925, -0.01565629616379738, ...",0.761581
60,With the high margins in our Windows OEM busin...,"[0.010544494725763798, -0.03846913203597069, -...",0.747335
61,And while we continue to help our customers do...,"[-0.014238400384783745, -0.011069077998399734,...",0.740366

In [36]:
earnings_df.sort_values("similarities", ascending=False)

,text,embedding,similarities
5,"Cosmos DB now supports postscript SQL, making ...","[-0.00441406574100256, -0.005979578942060471, ...",0.842245
12,Our cloud for sustainability is off to a fast ...,"[0.008848659694194794, -0.016215553507208824, ...",0.818365
4,Now to data and AI. With our Microsoft Intelli...,"[-0.004754434805363417, 0.0038801338523626328,...",0.815737
11,"All up more than 400,000 organizations now use...","[-0.0010528546990826726, -0.020452534779906273...",0.803985
9,Power Automate has more than seven million mon...,"[-0.025379547849297523, -0.03403877094388008, ...",0.800751
...,...,...,...
29,"Thank you, Satya, and good afternoon, everyone...","[0.013616200536489487, -0.01455166470259428, -...",0.712389
58,"And finally, as a reminder, for Q2 cash flow, ...","[-0.012947804294526577, -0.010494815185666084,...",0.710533
44,Operating expenses increased 2% and 5% in cons...,"[0.017512913793325424, 0.008054900914430618, 0...",0.707797
57,Other income and expense should be roughly $10...,"[-0.01832527294754982, -0.014160438440740108, ...",0.685018
46,"This quarter, other income and expense was $54...","[-0.030022066086530685, -0.006907156202942133,...",0.672180